<div>
    <div class="col-sm-12">
        <div class="myHeader">
            Rechnungsdetails
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Rechnungskopf</b>
            </div>
            <div class="panel-body">
                <div ng-include="'../../fragment/invoice/invoice-detail-head.html'"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div ng-include="'../../fragment/invoice/invoice-detail-positions.html'"></div>
    </div>
</div>
