<div>
    <div class="col-sm-12">
        <div class="myHeader">
            Rechnungsdetails
        </div>
    </div>
    <div class="col-sm-12">
        <div class="well well-sm">
            <a class="btn btn-default" href="" ng-click=informUser() ng-href="/invoices/{{invoice.id}}/print">
                <span class="glyphicon glyphicon-print"></span>
                Drucken
            </a>
            <a class="btn btn-danger" href="" ng-click="">
                <span class="glyphicon glyphicon-trash"></span>
                Löschen
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Rechnungskopf</b>
            </div>
            <div class="panel-body">
                <div ng-include="'../../fragment/invoice/invoice-detail-head.html'"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div ng-include="'../../fragment/invoice/invoice-detail-positions.html'"></div>
    </div>
</div>
