<div>
    <div class="col-sm-12">
        <div class="panel panel-default myHeader">
            <h2><span class="glyphicon glyphicon-euro"></span> Rechnungen</h2>
        </div>
    </div>
    <!-- Sidebar -->
    <div class="col-sm-4">
        <!-- Actions -->
        <div class="list-group">
            <p class="list-group-item active"><b>Aktionen</b></p>
            <a class="list-group-item" href="#/invoices/new">
                <span class="glyphicon glyphicon-asterisk"></span>
                Rechnung anlegen
            </a>
            <a class="list-group-item" href="" ng-click="toggleFilterPanel()">
                <span class="glyphicon glyphicon-filter"></span>
                Rechnungen filtern
            </a>
        </div>
        <!-- Filter panel -->
        <div ng-include="'../fragment/general/filter-bar.html'"></div>
    </div>
    <!-- Invoice list -->
    <div class="col-sm-8">
        <div class="scrollable-large">
            <div ng-repeat="(lastname, invoices) in invoices | filter:filter.string | groupBy: 'custlastname'">
                <div class="panel panel-default mySubheader">
                    <h3>{{lastname}}</h3>
                </div>
                <div class="panel panel-default" ng-repeat="invoice in invoices">
                    <div class="panel-heading">
                        <b>RNr: {{invoice.id}} ({{invoice.description}}, {{invoice.date}})</b>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <p>
                                <b>Empfänger:</b>
                            </p>
                            <p>
                                {{invoice.custaddress}}<br/>
                                {{invoice.custfirstname}} {{invoice.custlastname}}<br/>
                                {{invoice.custstreet}}<br/>
                                {{invoice.custzip}} {{invoice.custcity}}
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <b>Betrag:</b><br/>
                                <h3 class="fg-success">{{invoice.sum | currency:"€ ":2}}</h3>
                            </p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default" href="" ng-click="">
                            <span class="glyphicon glyphicon-search"></span>
                            Details
                        </a>
                        <a class="btn btn-default" href="" ng-click=informUser() ng-href="/invoices/{{invoice.id}}/print">
                            <span class="glyphicon glyphicon-print"></span>
                            Drucken
                        </a>
                        <a class="btn btn-danger" href="" ng-click="">
                            <span class="glyphicon glyphicon-trash"></span>
                            Löschen
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
