/* DEFINITION OF CUSTOM CSS STYLES */

.text-blue {
    color: #427CAC;
}
.text-light-blue {
    color: #02AFEB !important;
}
.text-green {
    color: #2B7D2B;
}
.text-large {
    font-size: 1.5em;
}
.text-medium {
    font-size: 1.15em;
}
