<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Invoice KuGa</title>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Angular -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>

        <!-- Angular ngRoute -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-route.min.js"></script>

        <!-- Angular ngAnimate -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-animate.js"></script>

        <!-- Angular ngDialog -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/js/ngDialog.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/css/ngDialog.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/css/ngDialog-theme-default.min.css" rel="stylesheet">

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>

        <!-- Angular Locale - German -->
        <script src="https://code.angularjs.org/1.2.5/i18n/angular-locale_de-de.js"></script>

        <!-- Angular Filter -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>

        <!-- d3.js/c3.js charts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet">

        <!-- datetimepicker -->
        <script type="text/javascript" src="/node_modules/moment/moment.js"></script>
        <script type="text/javascript" src="/node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
        <script type="text/javascript" src="/node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>

        <!-- app.js -->
        <script src="./app.js"></script>

        <!-- Services -->
        <script src="./service/customer-service.js"></script>
        <script src="./service/invoice-service.js"></script>
        <script src="./service/cash-earnings-service.js"></script>
        <script src="./service/stats-service.js"></script>
        <script src="./service/session-service.js"></script>
        <script src="./service/dialog-service.js"></script>

        <!-- Controller -->
        <script src="./controller/main-controller.js"></script>
        <script src="./controller/home/home-controller.js"></script>
        <script src="./controller/customer/customer-list-controller.js"></script>
        <script src="./controller/customer/customer-detail-controller.js"></script>
        <script src="./controller/customer/customer-new-controller.js"></script>
        <script src="./controller/cash-earnings/cash-earnings-controller.js"></script>
        <script src="./controller/invoice/invoice-list-controller.js"></script>
        <script src="./controller/stats/stats-controller.js"></script>

        <!-- custom styles -->
        <!-- <link href="./css/slate_min.css" rel="stylesheet"> -->
        <link href="./css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="/node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
    </head>
    <body ng-app="InvoiceKuGa" ng-controller="MainController">
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.kurgarten-cafe.de">
                    <img class="icon-sm icon-navbar" src="./image/favicon.ico"/>
                    Kurgarten Cafe
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <!-- Navbar items -->
                <ul class="nav navbar-nav navbar-left">
                    <li id="tab_home" class="active">
                        <a href="#" ng-click="switchTab('tab_home')">
                            <span class="glyphicon glyphicon-home"></span>
                            Home
                        </a>
                    </li>
                    <li id="tab_customers">
                        <a href="#/customers" ng-click="switchTab('tab_customers')">
                            <span class="glyphicon glyphicon-user"></span>
                            Kunden
                        </a>
                    </li>
                    <li id="tab_invoices">
                        <a href="#/invoices" ng-click="switchTab('tab_invoices')">
                            <span class="glyphicon glyphicon-eur"></span>
                            Rechnungen
                        </a>
                    </li>
                    <li id="tab_daily_cash_earnings">
                        <a href="#/daily-cash-earnings" ng-click="switchTab('tab_daily_cash_earnings')">
                            <span class="glyphicon glyphicon-piggy-bank"></span>
                            Kasseneinnahmen
                        </a>
                    </li>
                    <li id="tab_stats">
                        <a href="#/statistics" ng-click="switchTab('tab_stats')">
                            <span class="glyphicon glyphicon-stats"></span>
                            Statistiken
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn" href="" ng-click="showPopup()">
                            <span class="glyphicon glyphicon-off"></span>
                            Beenden
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Content -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div ngAnimate ng-view></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <small>&copy; {{year}}, Daniel Wehner, Alle Rechte vorbehalten.</small>
            </div>
        </div>
    </body>
</html>
