<div class="ngdialog-message">
    <div class="ngdialog-heading">
        <h3><img class="icon-sm" src="../../img/favicon.ico"/> {{title}}</h3>
    </div>
    <div class="ngdialog-body">
        <p ng-bind-html="body"></p>
    </div>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="noOption()">Nein</button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="yesOption()">Ja</button>
</div>
