<div>
    <div class="col-sm-12">
        <div class="myHeader">
            Home
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-6">
            <!-- Welcome tile -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <b>Willkommen</b>
                </div>
                <div class="panel-body">
                    <p>Hallo {{user.givenName}}!<p>
                    <p>
                        Mit diesem Programm kannst du ganz einfach <b>Kunden verwalten, Rechnungen schreiben</b>
                        und sogar <b>Statistiken generieren</b>.
                    </p>
                    <p>
                        Die verschiedenen Funktionen sind erreichbar, indem du auf den
                        jeweiligen Tab in der Navigationsleiste klickst.<br/>
                        Denke immer daran, dich <b>abzumelden</b>, wenn du fertig bist. So kannst du
                        verhindern, dass dein Benutzerkonto von anderen benutzt wird.
                    </p>
                </div>
            </div>
            <!-- Date/Time tile -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    </span><b>Datum und Uhrzeit</b>
                </div>
                <div class="panel-body">
                    <p>
                        <span class="glyphicon glyphicon-calendar"></span>
                        Aktuelles Datum:
                        <b>{{currDate}}</b>
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-time"></span>
                        Aktuelle Uhrzeit:
                        <b>{{currTime}}</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Info tile -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Meldungen <span class="label label-default">{{messages.length}}</span></b>
                </div>
                <div class="panel-body">
                    <!-- Du sperrst gerade Datensatz xy + Button zum Entsperren? -->
                    <!-- Du hast noch keine Tageseinnahmen erfasst... -->
                    <div class="scrollable-small">
                        <div ng-show="messages.length == 0">Keine Meldungen</div>
                        <div ng-show="messages.length > 0" ng-repeat="message in messages">
                            <div class="alert"
                                 ng-class="{'alert-info': message.level === 'Info', 'alert-warning': message.level === 'Warnung', 'alert-danger': message.level === 'Fehler'}"
                                 role="alert">
                                <b>{{message.level}}:</b> <span ng-bind-html="message.msg"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Problem tile -->
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <b>Gibt es Probleme?</b>
                </div>
                <div class="panel-body">
                    <div class="col-xl-5 col-lg-5 col-sm-5 col-xs-5">
                        <div class="img-container">
                            <img src="../../img/maintenance.png"/>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-sm-7 col-xs-7">
                        <p>
                            Bei Problemen wenden Sie sich bitte an:<br/>
                            <span class="glyphicon glyphicon-envelope"></span>
                            <a href="mailto:daniel.wehner92@gmx.de"><b>daniel.wehner92@gmx.de</b></a>
                        </p>
                        <p>oder</p>
                        <p>
                            <span class="glyphicon glyphicon-phone"></span>
                            <b>+49 160/8292152</b>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
