<form class="form-horizontal" role="form" novalidate>
    <div class="input-group col-xl-12 col-lg-12 col-sm-12 col-xs-12">
        <span class="input-group-addon custom-input-group-addon"><b>ReNr</b></span>
        <input
            type="text"
            class="form-control"
            ng-model="invoice.id"
            ng-disabled="readOnly"
        >
    </div>
    <br/>
    <div class="input-group col-xl-12 col-lg-12 col-sm-12 col-xs-12">
        <span class="input-group-addon custom-input-group-addon"><b>Datum</b></span>
        <input
            type="text"
            class="form-control"
            ng-model="invoice.date"
            ng-disabled="readOnly"
        >
    </div>
    <br/>
    <div class="input-group col-xl-12 col-lg-12 col-sm-12 col-xs-12">
        <span class="input-group-addon custom-input-group-addon"><b>KdNr</b></span>
        <input
            type="text"
            class="form-control"
            ng-model="customer.id"
            ng-disabled="readOnly"
        >
    </div>
    <div class="well">
        {{customer.address}}<br/>
        {{customer.firstname}} {{customer.lastname}}<br/>
        {{customer.street}}<br/>
        {{customer.zip}} {{customer.city}}
    </div
    <div class="input-group col-xl-12 col-lg-12 col-sm-12 col-xs-12">
        <label for="description">Bemerkung:</label>
        <textarea
            id="description"
            class="form-control"
            rows="5"
            ng-model="invoice.description"
            ng-disabled="readOnly">
        </textarea>
    </div>
</form>
