<br/>
<p>Neue Rechnungsposition:</p>
<form class="form-inline" role="form" novalidate>
    <div class="input-group col-xl-4 col-lg-4 col-sm-12 col-xs-12">
        <span class="input-group-addon custom-input-group-addon"><b>Beschreibung</b></span>
        <input
            type="text"
            class="form-control"
            required
        >
    </div>
    <div class="input-group col-xl-2 col-lg-2 col-sm-12 col-xs-12">
        <span class="input-group-addon custom-input-group-addon"><b>Menge</b></span>
        <input
            type="text"
            class="form-control"
            required
        >
    </div>
    <div class="input-group col-xl-3 col-lg-3 col-sm-12 col-xs-12">
        <span class="input-group-addon custom-input-group-addon"><b>Einzel</b></span>
        <input
            type="text"
            class="form-control"
            required
        >
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio"> 7%</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio"> 19%</label>
    </div>
    <br/>
    <a class="btn btn-default" href="" ng-click="showOverlay()" href="">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</form>
