<div>
    <div class="col-sm-12">
        <div class="panel panel-default myHeader">
            <h2><span class="glyphicon glyphicon-piggy-bank"></span> Kasseneinnahmen</h2>
        </div>
    </div>
    <!-- Sidebar -->
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <b>Neue Einnahme</b>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="date">Datum:</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target=".dropdown" href="">
                            <div class="input-group">
                                <input id="date" class="form-control" type="text" data-ng-model="date">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker data-ng-model="date"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown', startView:'day', minView:'day' }">
                            </datetimepicker>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount">Betrag:</label>
                    <input
                        id="amount"
                        class="form-control"
                        type="text"
                        ng-model="customer.address"
                        ng-disabled="readOnly"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="comment">Bemerkung:</label>
                    <textarea id="comment" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <a class="btn btn-default" ng-click="addCashEarning">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Einnahme speichern
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- Cash Earnings table -->
    <div class="col-sm-8">
        <div class="scrollable">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        <b>Kasseneinnahmen</b>
                    </div>
                </div>
                <div id="table-cash-earnings" class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><b>Datum</b></th>
                                <th><b>Betrag</b></th>
                                <th><b>Bemerkung</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row" ng-repeat="earning in earnings">
                                <td><b>{{earning.date | date:"shortDate"}}</b></td>
                                <td>{{earning.amount | currency:"€ ":2}}</td>
                                <td><em>{{earning.description}}</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
