<div>
    <div class="col-sm-12">
        <div class="myHeader">
            Statistiken
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills">
                    <li id="chartEvtRevByMonth" role="presentation" class="inactive">
                        <a href="" ng-click="showChartEvtRevByMonth()">
                            <span class="glyphicon glyphicon-calendar"></span> Umsatz nach Monaten
                        </a>
                    </li>
                    <li id="chartEvtRevByCustomer" role="presentation" class="inactive">
                        <a href="" ng-click="showChartEvtRevByCustomer()">
                            <span class="glyphicon glyphicon-user"></span> Umsatz nach Kunden
                        </a>
                    </li>
                    <li id="chartCeRev" role="presentation" class="inactive">
                        <a href="" ng-click="showChartCeRev()">
                            <span class="glyphicon glyphicon-piggy-bank"></span> Umsatz Tageseinnahmen
                        </a>
                    </li>
                </ul>
            </div>
            <div id="chart-container" class="panel-body">
                <div id="chart-area">Bitte Statistik auswählen...</div>
            </div>
        </div>
    </div>
</div>
