<div>
    <div class="col-sm-12">
        <div class="myHeader">
            Kundendetails
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <b>
                        <span class="glyphicon glyphicon-folder-open"></span>
                        Kundenkartei
                    </b>
                    {{customer.lastname}}, {{customer.firstname}}
                </div>
            </div>
            <div class="panel-body">
                <!-- Customer detail head -->
                <div
                    class="col-xl-5 col-lg-5 col-sm-12 col-xs-12"
                    ng-include="'../../fragment/customer/customer-detail-head.html'">
                </div>
                <!-- Customer detail contacts -->
                <div
                    class="col-xl-7 col-lg-7 col-sm-12 col-xs-12"
                    ng-include="'../../fragment/customer/customer-detail-contacts.html'">
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-left">
                    <a class="btn btn-default" href="" ng-click="toggleReadWrite()">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="glyphicon glyphicon-resize-horizontal"></span>
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
                <div class="pull-right">
                    <a class="btn btn-default" href="" ng-click="" ng-hide="readOnly">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Speichern
                    </a>
                    <a class="btn btn-warning" href="" ng-click="" ng-hide="readOnly">
                        <span class="glyphicon glyphicon-trash"></span>
                        Löschen
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
 </div>
