<div>
    <div class="col-sm-12">
        <div class="myHeader">
            Neuer Kunde
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-asterisk"></span>
                Kunde anlegen
            </div>
            <div class="panel-body">
                <div
                    class="col-xl-12 col-lg-12 col-sm-12 col-xs-12"
                    ng-include="'../../fragment/customer/customer-form.html'">
                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>
