<div>
    <!-- Sidebar -->
    <div class="col-sm-4">
        <!-- Actions -->
        <div class="list-group">
            <p class="list-group-item active"><b>Aktionen</b></p>
            <a class="list-group-item" href="#/customers/new">
                <span class="glyphicon glyphicon-asterisk"></span>
                Kunde anlegen
            </a>
            <a class="list-group-item" href="" ng-click="toggleFilterPanel()">
                <span class="glyphicon glyphicon-filter"></span>
                Kunden filtern
            </a>
        </div>
        <!-- Filter panel -->
        <div ng-include="'../fragment/general/filter-bar.html'"></div>
    </div>
    <!-- Customer list -->
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>
                    <span class="glyphicon glyphicon-folder-open"></span>
                    Kundenkartei
                </b>
            </div>
            <div id="table-customers" class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                <a class="btn btn-default" href="" ng-click="sortBy('id')"><b>KdNr</b></a>
                                <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th>
                                <a class="btn btn-default" href="" ng-click="sortBy('address')"><b>Anrede</b></a>
                                <span class="sortorder" ng-show="propertyName === 'address'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th>
                                <a class="btn btn-default" href="" ng-click="sortBy('firstname')"><b>Vorname</b></a>
                                <span class="sortorder" ng-show="propertyName === 'firstname'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th>
                                <a class="btn btn-default" href="" ng-click="sortBy('lastname')"><b>Nachname</b></a>
                                <span class="sortorder" ng-show="propertyName === 'lastname'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-row" ng-repeat="customer in customers | filter:filter.string | orderBy:propertyName:reverse">
                            <td>{{customer.id}}</td>
                            <td>{{customer.address}}</td>
                            <td>{{customer.firstname}}</td>
                            <td>{{customer.lastname}}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default" ng-href="#/customers/{{customer.id}}">
                                        Details
                                    </a>
                                    <a class="btn btn-default dropdown-toggle"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="" ng-click="delete(customer.id)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                                löschen
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>