<div class="panel panel-default" ng-show="showFilterPanel">
    <div class="panel-heading">
        <b>
            <span class="glyphicon glyphicon-filter"></span>
            Daten filtern
        </b>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="filter.string" placeholder="Suchkriterium...">
            <span class="input-group-btn">
                <a class="btn btn-default" href="" ng-click="deleteFilter()">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </span>
        </div>
    </div>
</div>
